.footer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-game-footer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
